/* MAIN SECTION */
.main-section {
  height: 100%;
  width: 100%;
  /* con background fixed dejamos fija la imagen de fondo para TODA la pagina */
  background: fixed;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url("images/PLWALL.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.section {
  height: 100%;
  width: 100%;
  background: fixed;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)),
    url("images/PLWALL.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* ANIMACION TITULO POWERLIFTING */
.animacion_powerlifting {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,

      #626263 40%,
      #ac0202 50%,
      #ffffff 100%);

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 60px;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.parrafo {
  width: 100%;
  padding: 0.5rem;
  /* outline: 2px solid red; */
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-shadow: -2px 2px 2px black;
  margin-bottom: 5rem;
}

/* POWERLIFTING */
.division_powerlifting {
  /* outline: 4px solid rgb(4, 0, 255); */
  outline-offset: -4px;
}

.contenedor_powerlifting {
  /* outline: 4px solid red; */
  padding: rem;
  justify-content: center;
  align-items: center;
}

.texto-powerlifting {
  height: 90%;
  font-size: 40px;
  color: aliceblue;
  text-align: center;
  padding: 20rem;
}

.texto-powerlifting-shadow {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* MOVIMIENTOS */
.division_movimientos {
  /* outline: 4px solid orangered; */
  width: 100%;
  outline-offset: -4px;
  display: flex;
  flex-wrap: wrap;

}

/* CATEGORIAS */
.division_categorias {
  width: 100%;

}


.contenedor_movimientos {
  /* outline: 4px solid yellow; */
  width: 50%;
  padding: 1rem 1rem 7rem 2rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.contenedor_categorias {
  /* outline: 4px solid yellow; */
  padding: 0 1rem 7rem 2rem;
  height: 0%;
  justify-content: center;
  align-items: center;
}

.texto-contenedores {
  /* outline: 4px solid red; */
  font-size: 40px;
  font-size: 22px;
  color: aliceblue;
  text-align: center;
}

.imagen-power-lifting {
  position: relative;
  max-width: 430px;
}

.imagen-power-lifting img {
  width: 100%;
}

.hovercap {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.hovercap {
  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.imagen-power-lifting:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

/* BOTON TOP */
#botontop {
  font-size: 20px;
  position: fixed;
  top: 48rem;
  right: 3rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

#botontop:hover {
  background-color: #555;
}

/* /////////////////// */
/* MEDIA QUERY TABLET */
/* /////////////////// */

@media (max-width: 700px) {
  .animacion_powerlifting {
    font-size: 50px;
  }

  .contenedor_powerlifting {
    padding: 5rem;
    font-size: 30px;
  }
}

/* /////////////////// */
/* MEDIA QUERY CELULAR */
/* /////////////////// */

@media (max-width: 450px) {

  /* SECCION POWERLIFTING */
  .contenedor_powerlifting {
    padding: 2rem;
    font-size: 1.6rem;
  }

  /* SECCION MOVIMIENTOS */
  .division_movimientos {
    flex-direction: column;
  }

  .contenedor_movimientos {
    width: 100%;
    padding: 2rem;
    padding-bottom: 6rem;
  }

  .parrafo {
    margin-bottom: 0rem;
  }

  /* SECCION CATEGORIAS */
  .contenedor_categorias {

    padding: 0 2rem 2rem 2rem;
  }
}